body {
    background-color: orange;
}
#board {
    position: absolute;
    top: calc(25%);
    left: calc(25%);
    width: 50%;
    height: 80vmin;
    border-radius: 5px;
    background-color: #B93848;
    overflow: hidden; 
}