body {
    background-color: orange;
}
#board {
    position: absolute;
    top: calc(15%);
    left: calc(25%);
    width: 50%;
    height: 80vmin;
    background-color: #16A8C7;
}
.player1pieces{
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-color: #e4a6ae;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 1vmin solid #B93848; }
    div#board .player1pieces .piece.selected {
      box-shadow: 0 0 10px 5px #16A8C7; }
