table{
    color: blue;
    margin: 0px;
    padding: 0px;
    border-style: dashed;
    border-width: 10px;
    border-color: rgb(90, 90, 90);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    background-image: url("../background.png");
    
}

span::before{
    content: "This mode is already available!"
}

#play:hover{
    cursor: crosshair;
}

#sound:active{

    background-color: red;
}

p::after{
    content: "This mode is not yet available!";
}
