body {
    background-color: rgb(58, 48, 66);
    color: white;
}
#board {
    position: absolute;
    top: 15%;
    left: 30vw;
    width: 40vw;
    height: 40vw;
    background-color: rgb(185, 56, 72);
}
.player1pieces .piece{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: rgb(228, 166, 174);;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border: 1vmin solid rgb(185, 56, 72); 
}

.player2pieces .piece{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: rgb(139, 139, 255);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border: 1vmin solid #3a56d1; 
}

.tile{
    width: 5vw;
    height: 5vw;
    background-color: rgb(35, 38, 33);
    position: absolute;
    cursor: pointer;
}

.piece.selected {
    width: 5vw;
    height: 5vw;
    margin-top: 0vw;
    margin-left: 0vw;
}

.piece{
    cursor: pointer;
}

#wrapper{
    position: fixed;
}
