body {
    background-color: orange;
}
#board {
    position: absolute;
    top: 15%;
    left: 30vw;
    width: 40vw;
    height: 40vw;
    background-color: rgb(255, 255, 255);
}
.player1pieces .piece{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #2600ff;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border: 1vmin solid #ff0000; 
}

.player2pieces .piece{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #ff0000;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border: 1vmin solid #2600ff; 
}

.tile{
    width: 5vw;
    height: 5vw;
    background-color: black;
    position: absolute;
}

.piece.selected {
    width: 5vw;
    height: 5vw;
    margin-top: 0vw;
    margin-left: 0vw;
}

.piece{
    cursor: pointer;
}
